.main {
	color: #fff;
}

.main h3 {
	font-size: 35px;
	font-weight: 600;
}

.main .thumbnail {
	border-radius: 0%;
	padding: 50px;
}

.menu_item {
	text-align: center;
	text-decoration: none;
}

.menu_item:hover {
	text-decoration: none;
	cursor: pointer;
}

.menu_item_image {
	border-radius: 100%;
	border: solid 5px rgba(0, 0, 0, 0.1);
}