<div class="container main">
	<div class="row">
		<div class="col-md-4">
			<div class="row">
				<div class="menu_item menu_item_server thumbnail">
					<img src="images/icons/Server-01-256.png"/>
				</div>
			</div>
			<div class="row">
				<div class="menu_item menu_item_bike thumbnail">
					<img src="images/icons/Cycling-256.png"/>
				</div>
			</div>
		</div>

		<div class="col-md-8">
			<div class="menu_item thumbnail menu_item_portfolio">
				<img src="images/icons/Folder-Picture-256.png"/>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10">
			<div class="row">
				<div class="menu_item menu_item_about thumbnail">
					<img src="images/icons/Source-Code-256.png">
				</div>
			</div>
		</div>

		<div class="col-md-2">
			<div class="row">
				<div class="menu_item menu_item_about thumbnail">
					<img src="images/icons/Dialog-Box-About-256.png">
				</div>
			</div>
		</div>
	</div>
</div>